@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 25px 0;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 999;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.h1 {
    font-family: "Protest Strike", sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 60px;
}

header nav ul li .a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    transition: 0.4s ease;
}

header nav ul li .a:hover {
    color: brown;
}

.phone {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    transition: 0.4s ease;
}

.phone:hover {
    color: brown;
}
